.filterProducts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16rem;
    width: 100%;
}

.ItemsProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 70%;
}

.filter {
    display: flex;
    justify-content: center;
    float: left;
    width: 20%;
    position: relative;
    top: 11rem;
}