.comment{
    position: relative;
    top: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    width: 75%;
    margin: auto;
    border: 2px solid rgb(233, 233, 233);
    margin-bottom: 20rem;
}

.headandbtn{
    align-items: center;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.review{
    font-size: 1.4rem;
    font-weight: 600;
}

.ratbtn{
    background-color: #E07575;
    color: white;
}

.ratbtn:hover{
    background-color: #E07575;
    color: white;
}

.commentbtn{
    background-color: #E07575;
    color: white;
    margin-top: 1rem;
}

.commentbtn:hover{
    background-color: #E07575;
    color: white;
}

.commentLines{
     padding-top: 1rem;
}

.CommentWalUser{
    padding-bottom: .5rem;
    padding-top: .3rem;
}

.CommentWalUser span{
    display: flex;
    flex-direction: row;
    gap: .3rem;
   font-weight: 600;
   align-items: center;
   font-size: .9rem;
}

.CommectIcons{
    color: rgb(144, 144, 144);
}

.CommentWalUser small{
    color: rgb(144, 144, 144);
}

.rating{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
 }
 
 .ratingdetails{
    color: rgb(144, 144, 144);
 }

 .rating span{
     background-color: #E07575;
     padding: .1rem 0.2rem;
     border-radius: 10%;
     color: white;
     display: flex;
     align-items: center;
     font-size: 1rem;
 }

 .rating small{
    font-size: 1rem;
 }

 .ReviewComments{
    padding-top: 1rem;
    padding-bottom: .6rem;
 }