.ItemsHeading {
    position: relative;
    top: 10rem;
    padding-left: 10%;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.foronlyMergin {
    margin-bottom: 15rem;
}

.items {
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
}

.nodatafound{
    position: relative;
    font-size: 2rem;
    top: 10rem;
    text-align: center;
}